@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}
a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.active {
  background-color: #5570f1;
  color: #ffffff;
}
.sidebar-footer-support {
  background: #5e63661a;
  color: #1c1d22;
}
.sidebar-footer-gift {
  background: none;
}
.sidebar-footer-gift h2 {
  font-size: 14px;
}
.blue {
  background: #5570f11f;
}
.pening {
  background: #f57e771f;
  color: #cc5f5f;
}
.completed {
  background: #32936f1f;
  color: #519c66;
}
input:focus {
  outline: none;
}

@media (max-width: 1000px) {
  .sidebar {
    position: absolute;
  }
  .section2 {
    margin-top: 21rem;
  }
}
